html {
  font-family: Merriweather, serif;
}

h1 {
  color: #fefffa;
}

h2 {
  color: #621b1f;
}

h3 {
  color: #d1895d;
}

a {
  color: #d1895d;
}

a:hover {
  color: #621b1f;
}

.nav a {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
}

.nav {
  position: relative;
  background-color: #e6decf;
}

.masthead {
  background-color: #621b1f;
}

.color-brand-dark {
  color: #621b1f;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  max-height: 24em;
  overflow: hidden;
  color: #fefffa;
}

.banner-content {
  position: absolute;
  font-size: .5em;
  bottom: 0%;
  left: 0;
  width: 100%;
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(239, 182, 156, 0), rgba(239, 182, 156, .8));
}

.btn {
  background-color: #e6decf;
  border-color: #d1895d;
  color: #621b1f;
}

.btn:hover {
  background-color: #621b1f;
  border-color: #d1895d;
  color: #e6decf;
}

.end-note {
  color: #621b1f;
}

.embed-item {
  text-align: left;
  float: left;
  width: 100%;

}

.about-us {
  background-color: #e6decf;
}

.prices {
  color: #621b1f;
  background-color: #e6decf;
}

strong {
  text-align: center;
}

.contact {
  background-color: #621b1f;
  color: #d1895d;
}

footer {

  background: url("../images/chocolate.svg");
  background-color: #e6decf;
  color: #621b1f;
}
