html {
  font-family: Merriweather, serif;
}

h1 {
  color: #fefffa;
}

h3 {
  color: #d1895d;
}

a {
  color: #d1895d;
}

a:hover {
  color: #2b0e0f;
}

.nav a {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
}

.nav {
  position: relative;
  background-color: #e6decf;
  display: inline-block;
}

.masthead {
  background-color: #621b1f;
}

.color-brand-dark {
  color: #621b1f;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  max-height: 24em;
  overflow: hidden;
  color: #fefffa;
}

.banner-content {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
}

.btn {
  background-color: #e6decf;
  border-color: #d1895d;
  color: #621b1f;
}

.btn:hover {
  background-color: #621b1f;
  border-color: #d1895d;
  color: #e6decf;
}

.prices {
  background-color: #f5f2f0;
}

.about-us {
  background-color: #f5f2f0;
}

.contact {
  background-color: #621b1f;
  color: #fefffa;
}

.end-note {
  color: #621b1f;
}

.embed-item {
  text-align: left;
  float: left;
  width: 50%;
  display: inline-grid;
}

footer {
  background-color: #e6decf;
}
